body { 
background-color: #3EA1F7;
font-family: Helvetica, Verdana, sans-serif; 
text-align: center;
}
#wrapper 
{ 
margin: 0 auto;
width: 85%;
min-width: 800px;
background-color: #cc0000;
color: #000066; }
#header 
{ 
background-color: #F7883E;
color: #00005D;
font-size: 125%;
padding: 20px 20px 20px 20px;
text-align: center;
background-repeat: no-repeat; 
border-style: solid;
border-color: #000000;
}
#menu 
{
background-color: #FFFFFF;
color: #000000;
font-size: 100%;
padding: 5px 5px 5px 5px;
text-align: center;
border-style: solid;
border-top-style: none;
border-color: #000000;
font-weight: bold;
}
table.decktable
{
background-color: #FFFFFF;
border-color: #F7883E;
margin-left: auto;
margin-right: auto;

}



table.center {
margin-left: auto;
margin-right: auto;
}
h1 
{ 
margin-bottom: 10px; 
}
#content { background-color: #ffffff;
color: #000000;
padding: 10px 20px;
overflow: auto; }
#footer { font-size: 80%;
text-align: center;
padding: 5px;
background-color: #0000FF;
color: #ffffff;
clear: both;
}
h2 { 
color: #000000;
font-family: Helvetica, sans-serif; }
#floatright { float: right;
margin: 10px; }
